body{
	background-image: url(http://www.emoticonswallpapers.com/background/nice/nice-background-pattern-151.gif); 

}

h4{
	color: blue;
	font-style: oblique;
}

h3{
	font-style: italic;
	color: blue;
}